body{
    background-color: #c5dcee;
}

.light-dark{
    position: fixed;
    text-align: center;
    bottom: 1em;
    right: 1em;
    border-radius: 20px;
}

.dark-mode{
    background-color: #23272a;
    color: #c5dcee;
}
.dark{
    background-color: #2a343b;
    color: #c5dcee;
    border: none;
}

.container{
    padding-bottom: 4em;
}

.ad-container{
    padding-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#login-form{
    margin: auto;
    width: 70%;
}

#login{
    margin: auto;
}

h1 {
    text-align: center;
    width: 100%;
}

.img{
    border-radius: 25px;
    padding-bottom: 1em;
}

.shadow{
    box-shadow: 10px 7px slategray;
}

.navbar{
    color: #c5dcee;
}


